# Ignore everything in the .venv folder
.venv/
.vscode/settings.json
.pnpm-store/
.env

# Node / JS dependencies
node_modules/

# Python caches
__pycache__/
*.py[cod]

# Build outputs
dist/
build/

# OS junk
.DS_Store
